.colorTransparent{border-color:#cccccc;background-color:#FFFFFF;color:#000000;background-repeat:repeat}
.shapeNoBorder{border-style:none;border-width:0px;text-transform:none}
.fontColorBlack h1, .fontColorBlack .h1{border-color:#8baebd;color:Black}
.fontColorBlack h2, .fontColorBlack .h2{border-color:#8baebd;color:Black}
.fontColorBlack h3, .fontColorBlack .h3{border-color:#666666;color:Black}
.fontColorBlack h4, .fontColorBlack .h4,.fontColorBlack h5, .fontColorBlack .h5,.fontColorBlack h6, .fontColorBlack .h6{border-color:#666666;color:Black}
.fontColorBlack a,.fontColorBlack a div,.fontColorBlack a span{color:#003399}
.fontColorBlack a:visited,.fontColorBlack a:visited div,.fontColorBlack a:visited span{color:#003399}
.fontColorBlack a:active,.fontColorBlack a:active div,.fontColorBlack a:active span{color:#003399}
.fontColorBlack a:hover,.fontColorBlack a:hover div,.fontColorBlack a:hover span{color:#3399FF}
.fontShapeArial{font:12px Arial, Helvetica, sans-serif !important}
.fontShapeArial p{font:100% Arial, Helvetica, sans-serif !important;padding:0em}
.fontShapeArial strong{font:bold 100% Arial, Helvetica, sans-serif !important}
.fontShapeArial h1, .fontShapeArial .h1{font:normal 150% Arial, Helvetica, sans-serif !important;padding:0.8em 0em 0em 0em;border-style:none;border-width:0px}
.fontShapeArial h2, .fontShapeArial .h2{font:bold 125% Arial, Helvetica, sans-serif !important;padding:0.6em 0em 0em 0em;border-style:none;border-width:0px}
.fontShapeArial h3, .fontShapeArial .h3{font:bold 120% Arial, Helvetica, sans-serif !important;padding:0.6em 0em 0em 0em;border-style:none;border-width:0px}
.fontShapeArial h4, .fontShapeArial .h4,.fontShapeArial h5, .fontShapeArial .h5,.fontShapeArial h6, .fontShapeArial .h6{font:bold 115% Arial, Helvetica, sans-serif !important;padding:0.4em 0em 0em 0em;border-style:none;border-width:0px}
.fontShapeArial a,.fontShapeArial a div,.fontShapeArial a span{text-decoration:none}
.fontShapeArial a:visited,.fontShapeArial a:visited div,.fontShapeArial a:visited span{text-decoration:none}
.fontShapeArial a:active,.fontShapeArial a:active div,.fontShapeArial a:active span{text-decoration:none}
.fontShapeArial a:hover,.fontShapeArial a:hover div,.fontShapeArial a:hover span{text-decoration:none}
