 <div xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cps="http://cps-cms.org/ns/theme"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      id="header">

  <p id="cps-logo"><a href="cps://">CPS</a> <span>3.6</span></p>

  <div id="main-tabs" cps:slot="portal_tabs">
    <div cps:portlet="body" cps:remove="true">
     <ul>
      <li class="selected"><a href="/">Espaces de publication</a></li>
      <li><a href="/">Espaces de travail</a></li>
      <li><a href="/">Espaces privés</a></li>
     </ul>
    </div>
  </div>
  
  
  
     <div id="userMenuActions" cps:slot="user_actions">
    <div cps:portlet="body" cps:remove="true">

     <ul class="userMenuList">
       <li><a>USERNAME</a>
         <ul>
          <li><a >Human Resources</a></li>
          <li><a>Espace personnel</a></li>
          <li><a>Deconnexion</a></li>
     </ul>
       </li>
     </ul>
</div>
   </div>


  <div id="search-box" cps:slot="search">
     <div cps:portlet="body" cps:remove="true">
      <input type="text" /><input type="submit" value="Search"/>
     </div>
  </div>

 </div>
