<head>
 <title>CPS 3.5 Structure</title>
 <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
 <link rel="stylesheet" type="text/css" href="style/page_layout.css" media="screen" />
 <link rel="stylesheet" type="text/css" href="style/components.css" media="screen" />
 <link rel="stylesheet" type="text/css" media="all" title="CPSDefault styles"
        href="cps://default.css" />
  <!--[if IE]><link rel="stylesheet" type="text/css"
                    href="cps://msie.css" />
  <![endif]-->
</head>
