/* CSS for widgets and portlets */

/*
 * Used by the Byline widget and notably for the News Item type.
 */
.byline {
  font-size: smaller;
  margin-top: 1em;
}
.date-effective {
  font-size: larger;
  font-weight: bold;
}
.date-separator {
  color: #999999;
}
.date-modified {
  color: #999999;
}

