/* CSS other than page layouts, typically widgets, portlets and overall
   main content*/

/*
 * Used by the Byline widget and notably for the News Item type.
 */
.byline {
  font-size: smaller;
  margin-top: 1em;
}
.date-effective {
  font-size: larger;
  font-weight: bold;
}
.date-separator {
  color: #999999;
}
.date-modified {
  color: #999999;
}

/* Subscriptions */

table.subscriptionsSummary {
 margin: 0;
 width: 100%
}

th.recipientCategory {
    border-width: 0 1px;
    border-color: #ccc;
    border-style: solid;
    text-align: left;
}

table.subscriptionsSummary th, table.subscriptionsSummary td {
  padding:0.5em;
  border:1px solid #ccc;
  border-color:#999 #ccc;
}

table.subscriptionsSummary thead th {
  background-color:#514e42;
  border-color: #514e42;
  color:white;
}

table.subscriptionsSummary tbody th {
  background-color: rgba(232,227,233,1);
}

td.recipientEvents {
  text-align: center;
}

td.recipient {
  vertical-align: middle;
}
