/* CSS other than page layouts, typically widgets, portlets and overall
   main content*/

/* Buttons */

body input.context, body input.destructive, body input.standalone {
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border:1px solid transparent;
  padding: 0.2em 0.5em;
  background-color: #ddeeff;
  background-image: none;
 }

body input.context:hover,  body input.destructive:hover, body input.standalone:hover {
  background-image: none;
  background-color: #1cbffd;
  color:white;
}

 body input.destructive:hover {
  background-color: #ff6969;
}

.buttonArea {
  margin-left: 13em;
  margin-top:1em;
}

/* Buttons for content actions */

table.folderButtons td {
  padding: 0.35em 0;
}

/* Content table */

#folder_content {
  border-collapse: collapse;
  margin:1em 0;
  width: 99%;
}

#folder_content td td, #folder_content thead th, table.contentListing td {
  padding: 0.5em;
}

#folder_content thead th {
  color:white;
  text-align: left;
}

#folder_content thead a, #folder_content thead a:link, #folder_content thead a:visited, #folder_content thead a:hover {
 color: #f1f2f3;
}

#folder_content thead tr {
  background-color: #514E42;
}

#folder_content_tbody td {
  border-bottom: 1px solid #ccc;
}

#folder_content td.icon_column {
  width: 20px;
}

#folder_content_tbody td td {
  border-bottom: none;
}

tr.even {
  background-color: #f2f9ff;
}

body table.folderButtons {
 margin-top:0;
 }

body div.batchLayout, body div.pageNavigationLayout {
  background-color: #f2efed;
  margin-bottom: 0.5em;
}

/* Directory Annuaire */

table.directory {
  border-spacing: 0.3em;
  border-collapse: separate;
  border:1px solid rgba(232,227,233,1);
}

.directory td {
  padding:0.3em 0.7em;
  vertical-align: top;
}

.directory .directory_label {
  background-color: rgba(232,227,223,0.5); /* #f2efed; */
  text-align: right;
  color:#333;
  font-weight: normal;
  width: 50em;
  padding-top: 0.5em;
}

.directory div.label {
  font-weight: normal;
}

.directory td.directory_field {
  padding-left:0.2em;
}

.directory td.directory_field input {
  padding:0.2em;
  margin: 0;
}

.directory td.directory_field option {
  padding:0.2em;
}

#widget__streetAddress, #widget__fullname, #widget__email {
  width:16em;
}

table.directory_view {
 background-color: rgba(210,210,210,0.1);
}

table.directory_view td.directory_label, table.directory td.directory_label {
  width: 25%;
}

table.directory_view td.directory_field {
  padding-top:0.5em;
}

p.buttons_after_table {
  margin-left:10em;
}

.labelledCheckbox {
  margin-bottom: 0.5em;
}

.labelledCheckbox label {
  margin-left: 0.3em;
  vertical-align: middle;
}

/* Localrole */

.localroles_search {
  border:1px solid rgba(232,227,233,1);
  padding:1em;
  margin:1em 0;
  display:inline-block;
}

.localroles_search #search_term, .localroles_search #member_role {
  margin: 0 1em;
}

div.user_roles {
  margin-top:0;
}

form table.localRolesAssignment {
  width:99%;
  border-width: 0px;
  margin:0.5em 0;
}

.localRolesAssignment tr#localRolesAssignmentUsers th, .localRolesAssignment tr#localRolesAssignmentGroups th {
    border-width: 0 1px;
    border-color: #ccc;
    border-style: solid;
    text-align: left;
}

form table.localRolesAssignment th, form table.localRolesAssignment td {
  padding:0.5em;
  border:1px solid #ccc;
  border-color:#999 #ccc;
}

table.localRolesAssignment thead th {
  background-color:#514e42;
  border-color: #514e42;
  color:white;
}

table.localRolesAssignment tbody th {
  background-color: rgba(232,227,233,1);
}

form table.localRolesAssignment td.inheritedRole, span.inheritedRole {
 background-color: rgba(253,204,61,0.8);
}

form table.localRolesAssignment td.inheritedBlockedRole, span.inheritedBlockedRole {
  background-color: #ff6969;
}

.user_roles span.inheritedBlockedRole, .user_roles span.inheritedRole {
  padding:0.2em 0.5em;
}

.localroles_filter {
  margin:0.5em 0;
  border-bottom: none;
  padding-bottom: 0;
}

.localroles_legend {
  margin:1.5em 0;
  padding-left:1em;
  border-left: 0.4em solid #f1f2f3;
  font-size: 80%;
}

/* Byline widget, notably for the News Item type. */

.byline {
  font-size: smaller;
  margin-top: 1em;
}
.date-effective {
  font-size: larger;
  font-weight: bold;
}
.date-separator {
  color: #999999;
}
.date-modified {
  color: #999999;
}

/* Subscriptions */

table.subscriptionsSummary {
 margin: 0;
 width: 100%
}

th.recipientCategory {
    border-width: 0 1px;
    border-color: #ccc;
    border-style: solid;
    text-align: left;
}

table.subscriptionsSummary th, table.subscriptionsSummary td {
  padding:0.5em;
  border:1px solid #ccc;
  border-color:#999 #ccc;
}

table.subscriptionsSummary thead th {
  background-color:#514e42;
  border-color: #514e42;
  color:white;
}

table.subscriptionsSummary tbody th {
  background-color: rgba(232,227,233,1);
}

td.recipientEvents {
  text-align: center;
}

td.recipient {
  vertical-align: middle;
}

/* hierarchical tree */

ul.hierarchicalTreeStart li {
  padding-left: 0 !important;
}

ul.hierarchicalTree {
  margin: 3px 0 0;
  padding:0;
}

.hierarchicalTreeStart .hierarchicalTree li {
  display: block;
  list-style-type: none;
  padding-left: 1.5em !important;
  padding-top: 0.2em !important;
  padding-bottom: 0.2em !important;
}
