/* CSS for CPS-CMS 3.5 by tsoulcie */
/* Look for CUSTOMIZE for main background colors */

/* CSS Reset starts */

html, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
/*  font-size: 100%; 
  font: inherit; */
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background-color: #f2efed !important;

}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS Reset ends */

body a, body a:link {
  text-decoration: none;
  color:#3975b3;
}

body a:hover {
  text-decoration: underline;
  }

h1 {
  margin:0.5em 0 0 0;
}

/* Liquid 2 columns layout */

html body {
  margin:0;
  padding:0;
  border:0; /* This removes the border around the viewport in old versions of IE */
  width:100%;
  background-color:#cccccc;
  min-width:600px; /* Minimum width of layout - remove line if not required - The min-width property does not work in old versions of Internet Explorer */
  font:normal 11px 'Lucida Grande', 'Verdana', Arial, sans-serif;
}

/* Header styles */

#header {
  font-size: 90%;
  clear: both;
  float: left;
  width: 100%;
  position:relative;
  /* CUSTOMIZE : change Header color here */ 
  background-color: #10151a;
  
  /* CSS3 gradient background for Header - remove if you want to CUSTOMIZE */
   
/* SVG fallback(Opera 11.10-, IE9) */
background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDQyLDUxLDU5LDEpOyIgLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0eWxlPSJzdG9wLWNvbG9yOnJnYmEoMTYsMjEsMjYsMSk7IiAvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGZpbGw9InVybCgjZ3JhZGllbnQpIiBoZWlnaHQ9IjEwMCUiIHdpZHRoPSIxMDAlIiAvPjwvc3ZnPg==);

/* Opera 11.10+ */
background: -o-linear-gradient(top, rgba(42,51,59,1), rgba(16,21,26,1));

/* Firefox 3.6+ */
background: -moz-linear-gradient(top, rgba(42,51,59,1), rgba(16,21,26,1));

/* Chrome 7+ & Safari 5.03+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(42,51,59,1)), color-stop(1, rgba(16,21,26,1)));

/* IE5.5 - IE7 */
filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FF2A333B,EndColorStr=#FF10151A);

/* IE8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FF2A333B,EndColorStr=#FF10151A)"
;

  /*  end of gradient background for Header */

  color:white;
  min-height: 40px;
}

#cps-logo {
  padding-top:0.1em;
  font-size:260%;
  font-weight: bold;
  color: white;
  text-shadow: -1px 0 rgba(0, 0, 0, 0.5), 0 0px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.5), -1px -1px rgba(0, 0, 0, 0.3);
  width: 25%;
  text-align: center;
  border-bottom: 3px solid transparent;
}

#cps-logo:hover {
/*  border-bottom: 3px solid #fdcc3d; */
}

#cps-logo a {
  color:white;
  text-decoration: none;
  opacity: 0.9;
}

#cps-logo a:hover {
 /*  text-decoration: underline; */
  opacity: 1;
}

#cps-logo span {
  opacity: 0.5;
}

#main-tabs {
 position:absolute;
 left:25%;
 bottom:0; 
 margin-left: 0.5em;
 width: auto;
}

#main-tabs ul {
}

#main-tabs ul li {
  display: inline;
  list-style-type: none;
}

#main-tabs ul li a {
  display:inline-block;
  padding: 0.35em 0.5em;
  margin-left: 0.35em;  
  border:1px solid transparent;
  border-bottom-color: black;
  background-color:rgba(255,255,255,0.2);
  text-decoration: none;
  border-radius: 0.5em 0.5em 0 0;
  -moz-border-radius: 0.5em 0.5em 0 0;
  -webkit-border-radius: 0.5em 0.5em 0 0;
  color:#ccc;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

#main-tabs ul li a:hover {
 color:black;
 background-color: #fdcc3d;
 /*border-top-color: #808080;
 background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.05, rgb(245,246,247)),
    color-stop(1, rgb(128,128,128)));
background-image: -moz-linear-gradient(
    center bottom,
    rgb(245,246,247) 5%,
    rgb(128,128,128) 100%); */
    text-shadow : none;
}

#main-tabs ul li.selected a {
  background-color: #fff;
  border-bottom-color: #fff;
  color:#333;
  text-shadow: none;
}

#main-tabs ul li.selected a:hover {
  cursor: default;
  background-image: none;
  border-top-color: transparent;
  color:#333;
}

#search-box {
  text-align: right;
  position: absolute;
  width:17em;
  top:0.35em;
  right: 1em;
}

/* User Actions - Thanks Lise */

#userMenuActions {
  position: absolute;
  right:17.5em;
  top:0.5em;
  line-height:185%;
  margin:0 1em 0 15px;
  padding:0px;
  text-align:left;
  }
  
#userMenuActions ul, #userMenuActions ul ul {
  list-style:none;
  }
  
#userMenuActions ul {
  height:28px;margin:0;padding:0;
  }
  
#userMenuActions ul li {
  float:left;
  text-align:left;
  background-color: rgba (255,255,255,0.3);
  }
  
#userMenuActions ul li a:hover, #userMenuActions ul li:hover {
  background-color:#ffffff;
  color:#000000;
  }
  
#userMenuActions a {
  background-color:#ffffff;
  display:block;
  margin:0;
  text-decoration:none;
  }
  
#userMenuActions a.userButton {
  background: url(../img/gear.png) no-repeat scroll 3px center rgba(255,255,255,0.1);
  padding:0.35em;
  padding-left:23px;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  color:#e7e7e7;
  }
  
#userMenuActions a.userButton, #userMenuActions ul li:hover {

}

#userMenuActions ul li:hover a.userButton {
  color:#000;
}
  
#userMenuActions li ul {
  border:1px solid #e0e0e0;
  border-top:none;
  display:none;
  height:auto;
  position:absolute;
  width:15em;
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.3);
  z-index:500;
  }

#userMenuActions li:hover ul {
  display:block;
  }

#userMenuActions li ul a {
  padding:0.3em;
  padding-left:24px;
  }

#userMenuActions ul li li {
  width:15em;
  }

#userMenuActions ul ul a:hover {
  background-color: #ddeeff;
  color:#000;
  }

#userMenuActions input.button {
  margin:0 5px;}

#userMenuActions li:hover ul {
  display:block;
  }


/* column container */
.colmask {
  position:relative;  /* This fixes the IE7 overflow hidden bug */
  clear:both;
  width:100%;      /* width of whole page */
  overflow:hidden;    /* This chops off any overhanging divs */
    float: left;
}
/* common column settings */
.colright,
.colmid,
.colleft {
  float:left;
  width:100%;
  position:relative;
}

.main-column,
.side-column,
.col3 {
  float:left;
  position:relative;
  padding:1em 0 1em 0;
  overflow:hidden;
}

/* 2 Column (left menu) settings */
.leftmenu {
  background:#fff;    /* right column background colour */
}

.leftmenu .colleft {
  right:75%;      /* right column width */
  
  
/* CUSTOMIZE Change left column color here - think of changing BODY, FOOTER and body div.batchLayout, body div.pageNavigationLayout too */
  
  background:#f5f6f7;  /* left column fallback background colour */
  
  /* CSS3 Gradients - remove if you want to CUSTOMIZE */
     
  /* SVG fallback(Opera 11.10-, IE9) */
background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDIzMiwyMjcsMjIzLDEpOyIgLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0eWxlPSJzdG9wLWNvbG9yOnJnYmEoMjQyLDIzOSwyMzcsMSk7IiAvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGZpbGw9InVybCgjZ3JhZGllbnQpIiBoZWlnaHQ9IjEwMCUiIHdpZHRoPSIxMDAlIiAvPjwvc3ZnPg==);

/* Opera 11.10+ */
background: -o-linear-gradient(top, rgba(232,227,223,1), rgba(242,239,237,1));

/* Firefox 3.6+ */
background: -moz-linear-gradient(top, rgba(232,227,223,1), rgba(242,239,237,1));

/* Chrome 7+ & Safari 5.03+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(232,227,223,1)), color-stop(1, rgba(242,239,237,1)));

/* IE5.5 - IE7 */
filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFE8E3DF,EndColorStr=#FFF2EFED);

/* IE8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFE8E3DF,EndColorStr=#FFF2EFED)";
  

/* ends left column color here */  
  
  }

.leftmenu .main-column {
  width:71%;      /* right column content width */
  left:102%;      /* 100% plus left column left padding */
}

.leftmenu .side-column {
  width:21%;      /* left column content width (column width minus left and right padding) */
  left:6%;      /* (right column left and right padding) plus (left column left padding) */
  font-size: 90%;
}

.side-column .box {
  margin: 0.5em 0.5em 1em 0.5em;
  box-shadow: 0 0 0.3em rgba(100,100,100,0.7);
  -moz-box-shadow: 0 0 0.3em rgba(100,100,100,0.7);
  -webkit-box-shadow: 0 0 0.3em rgba(100,100,100,0.7);
  -moz-border-radius: 0.5em;
  -webkit-border-radius:  0.5em;
  border-radius:  0.5em;
}

.box .title {
  background-color: #333;
  color: #fff;
  padding: 0.5em 1em;  
  -moz-border-radius: 0.5em 0.5em 0 0;
  -webkit-border-radius:  0.5em 0.5em 0 0;
  border-radius:  0.5em 0.5em 0 0;  
}

.box h3 {
  font-weight: bold;
  color: #fff; 
  text-shadow:1px 1px 1px #333333;
  font-size: 100%;
}

.box .content {
  background-color:#fff;
/*  border:1px solid #666;
  border-top:none; */
  padding:0.5em 1em;
  -moz-border-radius: 0 0 0.5em 0.5em;
  -webkit-border-radius: 0 0 0.5em 0.5em;
  border-radius: 0 0 0.5em 0.5em;
}

/* Footer styles */
#footer {
	clear:both;
	float:left;
	width:100%;
	text-align: center;
	font-size: 9px;
	position:relative;
	background-color: #f2efed;
}

#footer p {
  position: absolute;
  width: 75%;
  right: 1em;
  padding: 1em;
  padding-right: 0em;
}

/* liquid 2 columns layout ends */

/* Content */

/* Search gadget */

#searchGadget {
  border: 1px solid #ccc;
}

body #search-box a:link, body #search-box a {
  color: #ffffff;
  font-size: 80%;
}

body #search-box input.searchButton {
  padding: 0 0.35em;
  margin-left: 0.35em;
  background-color: #f1f2f3;
}

body #search-box input.searchButton:hover {
  background-color: #ccc;
  color: #000;
}

/* Inverted content for accessibility */

#portlet_main_content {
  margin-top: 0.5em;
}

/* Breadcrumb starts */

#breadcrumb {
  font-size: 75%;
  margin-bottom: 1em;
  position: absolute;
  top: 1em;
}

#portlet_breadcrumbs ul.breadcrumbs li.first {
  background-image:url(../img/folder-small-horizontal.png);
  background-position: 0 -3px;
  }
/* Fugue Icons : http://p.yusukekamiyamane.com */  


/* Breadcrumb ends */

/* ----------------------------------------------------------------------------------------------------------------------------
== FOLDED CORNERS
** ---------------------------------------------------------------------------------------------------------------------------- */

#actionslot {
    position:relative;
    width:auto;
    padding:0.5em 1em;
    padding-right: 2em;
    margin:2em auto 0.5em auto;
    color:#000;
    background-color:#fdde83;
    overflow:hidden;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    font-size: 75%;
    opacity: 0.7;
}

#actionslot:hover {
  opacity: 1;
}

#actionslot:before {
    content:"";
    position:absolute;
    top:0;
    right:0;
    border-style:solid;
    border-width:8px; /* Triggers a 1px 'step' along the diagonal in Safari 5 (and Chrome 10) */
    border-color:#fff #fff transparent transparent; /* Avoids the 1px 'step' in webkit. Background colour shows through */
    -webkit-border-bottom-left-radius:5px;
    -moz-border-radius:0 0 0 5px;
    border-radius:0 0 0 5px;
    background:#fee69e; /* For Opera when also applying a border-radius */
    display:block; width:0; /* Only for Firefox 3.0 damage limitation */
    /* Optional: shadow */
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
       -moz-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
            box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
}

#actionslot ul li {
  display: inline;
  list-style-type: none;
  margin-right:0.3em;
  }
  
#actionslot ul li a {
  display: inline-block;
  padding: 0.35em;
}  

/* Byline */
#widget__Byline_widget {
  margin-bottom: 1em;
}

/* Buttons */

body input.context, body input.destructive, body input.standalone {
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border:1px solid transparent;
  padding: 0.2em 0.5em;
  background-color: #ddeeff;
  background-image: none;
 }
 
body input.context:hover,  body input.destructive:hover, body input.standalone:hover {
  background-image: none;
  background-color: #1cbffd;
  color:white;
}

 body input.destructive:hover {
  background-color: #ff6969;
}

.buttonArea {
  margin-left: 13em;
  margin-top:1em;
}

table#login th, table#login td {
 padding: 0.5em;
}

table#login th {
  text-align: right;
}


.buttons {
  margin:0.5em 0 1em 0;
}

/* Buttons for content actions */

table.folderButtons td {
  padding: 0.35em 0;
}


/* Content table */

#folder_content {
  border-collapse: collapse;
  margin:1em 0;
  width: 99%;
}

#folder_content td td, #folder_content thead th, table.contentListing td {
  padding: 0.5em;
}

#folder_content thead th {
  color:white;
  text-align: left;
}

#folder_content thead a, #folder_content thead a:link, #folder_content thead a:visited, #folder_content thead a:hover {
 color: #f1f2f3;
}

#folder_content thead tr {
  background-color: #514E42;
}

#folder_content_tbody td {
  border-bottom: 1px solid #ccc;
}

#folder_content td.icon_column {
  width: 20px;
}

#folder_content_tbody td td {
  border-bottom: none;
}

tr.even {
  background-color: #f2f9ff;
}

body table.folderButtons {
 margin-top:0;
 }

body div.batchLayout, body div.pageNavigationLayout {
  background-color: #f2efed;
  margin-bottom: 0.5em;
}

/* Some content */

.main-column h1, .main-column h2 {
  border-bottom: none;
}

.main-column h2, .main-column h3 {
  margin:0.75em 0 0.5em 0;
}

/* content : create content */
.main-column dd {
  margin-bottom: 1em;
  margin-left: 0.75em;
  padding-top: 0;
}

/* Create form */

.field input {
  padding: 0.3em;
  }

#comments {
 margin:1em 0;
}

/* Publish */

form.workflow table td {
 padding: 0.3em;
}

form.workflow table {
  margin:0.5em 0;
}

form.workflow table.layoutDefault td {
 padding: 0;
}

body .table.localRolesAssignment {
  margin:1em 0;
}


/* Message */

body div.message {
  background-color: #f2f8ff;
  border-color: #3975b3;
/* For non-all width  display:inline-block; */
}

/* Front page */

.side-column #newsonfront .box {
  margin: 0.5em 0.5em 1em 0.5em;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  background-color: rgba(255,255,255,0.5);
}

#newsonfront .box .title {
  background-color: transparent;
  color: #333;
    -moz-border-radius: 0;
  -webkit-border-radius:  0;
  border-radius:  0;  
}

#newsonfront .box h3 {
  color: #333333; 
  text-shadow:-1px -1px 1px rgba(255,255,255,0.7);
}

#newsonfront .box .content {
  background-color:transparent;
/*  border:1px solid #666;
  border-top:none; */
  padding:0.5em;
  padding-bottom: 0.75em;
  -moz-border-radius: 0;
  -webkit-border-radius:  0;
  border-radius:  0;
}

#newsonfront .box .content ul {
  list-style: disc inside none;
  padding-left:1.3em;
}

/* Directory Annuaire */

table.directory {
  border-spacing: 0.3em;
  border-collapse: separate;
  border:1px solid rgba(232,227,233,1);
}

.directory td {
  padding:0.3em 0.7em;
  vertical-align: top;
}

.directory .directory_label {
  background-color: rgba(232,227,223,0.5); /* #f2efed; */ 
  text-align: right;
  color:#333;
  font-weight: normal;
  width: 50em;
  padding-top: 0.5em;
}

.directory div.label {
  font-weight: normal;
}

.directory td.directory_field {
  padding-left:0.2em;
}

.directory td.directory_field input {
  padding:0.2em;
  margin: 0;
}

.directory td.directory_field option {
  padding:0.2em;
}

#widget__streetAddress, #widget__fullname, #widget__email {
  width:16em;
}

table.directory_view {
 background-color: rgba(210,210,210,0.1);
}

table.directory_view td.directory_label, table.directory td.directory_label {
  width: 25%;
}

table.directory_view td.directory_field {
  padding-top:0.5em;
}

p.buttons_after_table {
  margin-left:10em;
}

.labelledCheckbox {
  margin-bottom: 0.5em; 
}

.labelledCheckbox label {
  margin-left: 0.3em;
  vertical-align: middle;
}

/* Localrole */

.localroles_search {
  border:1px solid rgba(232,227,233,1);
  padding:1em;
  margin:1em 0;
  display:inline-block; 
}

.localroles_search #search_term, .localroles_search #member_role {
  margin: 0 1em;
}

div.user_roles {
  margin-top:0;
}

form table.localRolesAssignment {
  width:99%;
  border-width: 0px;
  margin:0.5em 0;
}

.localRolesAssignment tr#localRolesAssignmentUsers th, .localRolesAssignment tr#localRolesAssignmentGroups th {
    border-width: 0 1px;
    border-color: #ccc;
    border-style: solid;
    text-align: left;
}

form table.localRolesAssignment th, form table.localRolesAssignment td {
  padding:0.5em;
  border:1px solid #ccc;
  border-color:#999 #ccc;
}

table.localRolesAssignment thead th {
  background-color:#514e42;
  border-color: #514e42;
  color:white;
}

table.localRolesAssignment tbody th {
  background-color: rgba(232,227,233,1);
}

form table.localRolesAssignment td.inheritedRole, span.inheritedRole {
 background-color: rgba(253,204,61,0.8);
}

form table.localRolesAssignment td.inheritedBlockedRole, span.inheritedBlockedRole {
  background-color: #ff6969;
}

.user_roles span.inheritedBlockedRole, .user_roles span.inheritedRole {
  padding:0.2em 0.5em;
}

.localroles_filter {
  margin:0.5em 0;
  border-bottom: none;
  padding-bottom: 0;
}

.localroles_legend {
  margin:1.5em 0;
  padding-left:1em;
  border-left: 0.4em solid #f1f2f3;
  font-size: 80%;
}

/* Flexible document */

.add_widget {
  display:inline-block;
  padding:1em;
  margin:0.75em 0;
  background-color: rgba(221,238,255,0.5);
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
}

.add_widget .buttons {
  margin:0;
  margin-left:1em;
  float:right;
}

.add_widget select {
  padding:0.1em;
  margin-top:0.15em;
}


.layoutDefault fieldset
 {
  padding:1em;
  margin:0.75em 0;
  background-color: rgba(232,227,233,0.25);
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;   
  width:95%;
}


.layoutDefault legend, #widget__attachedFile_widget .label, #widget__flash_widget .label  {
  background-color: rgba(232,227,233,1);
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  padding:0.2em 0.5em;
  font-weight: bold;  
}

div.flexible_widgets_ctrl {
  margin:0.5em 0 !important;
  -moz-border-radius: 0 0 1em 1em;
  -webkit-border-radius: 0 0 1em 1em;
  border-radius: 0 0 1em 1em;
  float:none !important;
  text-align: right;
  }

.subwidget0 {
  border-bottom: 0.4em solid rgba(232,227,233,0.8); 
  padding-bottom: 0.5em;
  margin-bottom: 0.5em; 
}

.subwidget1 {
  margin-top: 1em;
}
